<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta content="">
    
    {% block stylesheets %}
      <link href="{{ asset('bundles/dlaser/css/login.css') }}" rel="stylesheet" type="text/css" />
    {% endblock %}
    
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>