{% extends "AdminBundle::admin_layout.html.twig" %}

{% block titulo %}403 Usted no tiene permisos para ingresar al sistema{% endblock %}


{% block cuerpo %}
    <p>Para mayor información remitase con el administrador</p>
{%endblock%}
