{% extends "AdminBundle::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('AdminBundle:Builder:adminMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Buscar admisi贸n{% endblock %}


{% block cuerpo %}

		<form action="{{ path('factura_admision_list') }}" method="post">
		    <fieldset>
		    	<legend>Datos de la admisi贸n</legend>
		    	
				<div>
		    	    <label for="valor">Parametro</label>
		    	        <input type="text" name="valor" id="valor" autofocus="autofocus" placeholder="Ingrese el parametro de busqueda" size="30" />
		    	</div>
		    	
		    	<div>
		    	    <input type = "radio" name = "parametro" id = "identificacion" value = "identificacion" checked = "checked" />
		                <label for = "identificacion">Identificaci贸n</label>
		            
		            <input type = "radio" name = "parametro" id = "codigo" value = "codigo" />
		                <label for = "codigo">C贸digo</label>
		    	</div>
		    </fieldset>   	
    	
    	<button class="btn btn-success" type="submit" id="buscar">Buscar</button>    
</form>
{% endblock %}