{% extends "::login.html.twig" %}


{% block body %}


<div class="ribbon"></div>
    
    <div class="login">
	    <h1>IPS - Serviespecialistas</h1>
	    <p>Ingresa a tu cuenta</p>
	    
	    {% if error %}
	    	<label class="control-label" for="inputError">{{ error.message }}</label>	    	
		{% endif %}
    
	    <form action="{{ path("aux_login_check") }}" method="post" id="login">
	      <div class="input">
			<div class="blockinput">
		  		<i class="icon-user"></i><input type="text" id="username" name="_username" placeholder="USUARIO" value="{{ last_username }}" />
			</div>
		  <div class="blockinput">
		  	<i class="icon-lock"></i><input type="password" id="password" placeholder="CONTRASEÑA" name="_password" />
		  	<input type="hidden" name="_target_path" value="/welcome" />
		  </div>
         </div>
      <button type="submit">ACEPTAR</button>
    </form>
 </div>
<hr>  

<h6>2014 - Con la tecnologia kenovix</h6>

{% endblock %}
