<header>
    <nav id="menu_main" class="grid_11">
        <ul>
            <li><a href="#" class="bundle">Parametrizar</a></li>
            <li><a href="#" class="bundle">Agenda</a></li>
            <li><a href="#" class="bundle">Informes</a></li>
            <li><a href="#" class="bundle">Usuarios</a></li>
            <li><a href="#" class="bundle sel">Historia clinica</a></li>
         </ul>
     </nav>
    <aside id="info_sesion" class="grid_5">info sesión</aside>
</header>
